extends layout

block content

    .container
      .row
        .logo-wild.text-center.col-xs-12
          .options-home
            a(href='/')
              img(src='images/logo_orange_pastille.png', alt='', height='100')
      .row
        .bloc-reponse.text-center.col-xs-4.col-xs-offset-4
          .options-home
            span.typegradient It's Person Name Bday!
      .row
        .bloc-nom.text-center.col-xs-4.col-xs-offset-4
          .options-home
            span.typegradient Well done!!!
      .row
        .gif.text-center.col-xs-12
          div
            iframe.giphy-embed(src='https://giphy.com/embed/xT0BKqk8FSsAgRQ0SY', frameborder='0', allowfullscreen='')
          p
            a(href='https://giphy.com/gifs/justin-david-bowie-happy-birthday-xT0BKqk8FSsAgRQ0SY')
      .row
        div
          iframe#forecast_embed(frameborder='0', height='245', width='100%', src='//forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Paris&color=#00aaff&font=Georgia&units=uk')
      .row
        .col-xs-12
          .options-home
            .gmap Googoole places
