extends layout

block content

    .jumbotron
      .row
        .logo-wild.text-center.col-xs-12
          .options-home
            a(href='/')
              img(src='images/logo_orange_pastille.png', alt='', height='100')
      .row
        .bloc-devine.text-center.col-xs-12
          .textbloc1
            span.typegradient GUESS WHO'S BDAY IT IS
      .row
        .input-birthday
          form.form-horizontal
            fieldset
              .form-group
                .col-md-8.col-md-offset-2
                  input#textinput.form-control.input-md(method='POST', name='textinput', type='text', placeholder='entre un prénom')
      .row
        .col-md-8.col-md-offset-2
          button#textinput.form-control.input-md(method='POST', name='textinput', type='text', placeholder='arrondissement', height='70')
            | envoyer
