extends layout

block content
    .jumbotron
      .row
        .logo-wild.text-center.col-xs-12
          .options-home
            img(src='images/logo_orange_pastille.png', alt='', height='100')
      .row
        .anniversaire.text-center.col-xs-12
          .options-home
            a(href='/birthday')
              button
                span.typegradient GUESS WHAT'S THE CLOSEST BDAY
      .row
        .sortir.text-center.col-xs-12
          .options-home
            a(href='/adresse')
              button.typegradient GO FOR DRINKS
